<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LearningPlatformData.Properties.Settings.tutorialDBConnectionString"
            connectionString="Data Source=AXT-AKASH-AWAST\MSSQLSERVER01;Initial Catalog=tutorialDB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>