.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    margin-bottom: 0;
}
body {
    margin: 0;
    padding-top: 60px;
}
.nav-link.active {
    background-color: mediumseagreen !important;
    display: block;
    color: white !important;
    border-radius: 5px;
    border-radius: 0;
    margin: 0 -15px;
    padding: 3px 30px;
}
.custom-sidebar .nav-link {
    color: black !important;
}
        .navbar-dark {
    background-color: #282A35 !important; 
}

.custom-sidebar {
    position: fixed;
    padding-top: 60px;
    height: calc(100vh - 60px); 
    height: 100vh;
    overflow-y: auto;
    background-color: lightgrey;
    padding: 15px;
    margin: 0;
}

    .custom-sidebar::-webkit-scrollbar-thumb:hover {
     background: #555;
    }
