@{
    ViewBag.Title = "Courses";
    ViewBag.ShowSidebar = false; // Explicitly hide sidebar
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<h2>Welcome to Tutorial</h2>
<p>Select a course from the navbar to begin.</p>